<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestHarness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestHarness.Properties.Settings>
            <setting name="PathToMSBuild" serializeAs="String">
                <value>C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe</value>
            </setting>
            <setting name="PathToMaven" serializeAs="String">
                <value>C:\Maven\apache-maven-3.3.9\bin\mvn.cmd</value>
            </setting>
            <setting name="PathToJava" serializeAs="String">
                <value>C:\Program Files\Java\jdk1.8.0_91\bin\java.exe</value>
            </setting>
            <setting name="PathToNode" serializeAs="String">
                <value>C:\NodeJS\node.exe</value>
            </setting>
            <setting name="PathToPython2" serializeAs="String">
                <value>C:\Python\Python27\python.exe</value>
            </setting>
            <setting name="PathToPython3" serializeAs="String">
                <value>C:\Python\Python3\python.exe</value>
            </setting>
            <setting name="PathToPythonPackageIndex" serializeAs="String">
                <value>pip</value>
            </setting>
            <setting name="PathToNpm" serializeAs="String">
                <value>C:\NodeJS\npm.cmd</value>
            </setting>
            <setting name="StateFileName" serializeAs="String">
                <value>state.json</value>
            </setting>
            <setting name="MapFileName" serializeAs="String">
                <value>map.txt</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="BotMetaFileName" serializeAs="String">
                <value>bot.json</value>
            </setting>
            <setting name="MaxBotRuntimeSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BotMoveFileName" serializeAs="String">
                <value>move.txt</value>
            </setting>
        </TestHarness.Properties.Settings>
    </applicationSettings>
</configuration>